In [1]:
%load_ext autoreload
%autoreload 2

In [57]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import datasets

from main.autoFIS.autoFIS.fuzzification import Fuzzification
from main.autoFIS.autoFIS.fuzzification_new import FuzzificationNew

Testing with simple database

In [61]:
list_categorical = np.array(['cats','cats','cats','cats','cats','cats','cats','dogs','dogs','dogs','dogs','dogs'])
list_categorical2 = np.array([0,1,0,1,0,1,1,1,0,1,0,0])
list_categorical3 = np.array([0,1,2,1,2,1,2,1,0,1,0,0])
list_numerical = np.array([5,6,7,8,9,10,-1,-2,-3,-4,-5,-6])
list_numerical2 = np.array([7,5,3,4,3,20,-22,19,-2,0,-1,12])
class_target = np.array ([1,1,1,1,1,0,0,0,0,0,1,1])

X_sample = pd.DataFrame(data = {'att1':list_categorical,'att2':list_numerical,'att3':list_categorical2,'att4':list_numerical2,'att5':list_categorical3})
X_sample2 = X_sample.iloc[5:10]

In [62]:
categorical_attributes_mask = [True,False,True,False,True]
triangle_format = 'normal'
n_fuzzy_sets = 3
enable_negation = True

In [72]:
fuzz = FuzzificationNew(n_fuzzy_sets = 5, enable_negation = True,triangle_format='tukey')
fuzz.fit(X_sample,is_categorical = categorical_attributes_mask)
uX = fuzz.transform(X_sample)
uX2 = fuzz.transform(X_sample2)
fuzz.fuzzy_params

,min,max,centers,is_categorical,is_binary,categories,num_fuzzy_sets,fuzzy_sets
0,NaN,NaN,NaN,True,True,"[cats, dogs]",1,[0]
1,NaN,NaN,"[-6.0, -3.25, 2.0, 7.25, 10.0]",False,False,NaN,10,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
2,NaN,NaN,NaN,True,True,"[0, 1]",1,[11]
3,NaN,NaN,"[-22.0, -0.25, 3.5, 8.25, 20.0]",False,False,NaN,10,"[12, 13, 14, 15, 16, 17, 18, 19, 20, 21]"
4,NaN,NaN,NaN,True,False,"[0, 1, 2]",6,"[22, 23, 24, 25, 26, 27]"

In [73]:
for x in uX:
    print(x.shape)

(12,)
(12, 10)
(12,)
(12, 10)
(12, 6)

In [74]:
for x in uX2:
    print(x.shape)

(5,)
(5, 10)
(5,)
(5, 10)
(5, 6)

Testing with Iris

In [75]:
iris = datasets.load_iris()
df_iris = pd.DataFrame(iris['data'])
df_iris['target'] = iris['target']
X = iris['data']
y = iris['target']
X_train, X_test, y_train, y_test = train_test_split(X, y,  test_size=0.30, random_state=42)

In [81]:
fuzz_iris = FuzzificationNew(n_fuzzy_sets = 3, enable_negation = True,triangle_format='tukey')
fuzz_iris.fit(X_train)
uX = fuzz_iris.transform(X_train)
uX2 = fuzz_iris.transform(X_test)
fuzz_iris.fuzzy_params

,min,max,centers,is_categorical,is_binary,categories,num_fuzzy_sets,fuzzy_sets
0,NaN,NaN,"[4.3, 5.8, 7.7]",False,0.0,NaN,6,"[0, 1, 2, 3, 4, 5]"
1,NaN,NaN,"[2.0, 3.0, 4.2]",False,0.0,NaN,6,"[6, 7, 8, 9, 10, 11]"
2,NaN,NaN,"[1.1, 4.3, 6.7]",False,0.0,NaN,6,"[12, 13, 14, 15, 16, 17]"
3,NaN,NaN,"[0.1, 1.3, 2.5]",False,0.0,NaN,6,"[18, 19, 20, 21, 22, 23]"